.branding-info {
    margin: 1.5rem;
}

.branding-info__container {
    display: flex;
    margin-bottom: var(--low-gap);
}

.branding-info__mark {
    flex: 1;
    font-size: 2.5rem;
}

.branding-info__description {
    flex: 2
}