.footer {
  background-color: var(--primary-color);
  padding: var(--low-gap);
}

.footer__contact--sp,
.footer__contact--rj,
.footer__contact--bsb,
.footer__contact--phones {
  margin-bottom: var(--medium-gap);
  display: grid;
  grid-template-columns: max(50px, 30%) 1fr;
}

.footer__title {
  font-size: 2rem;
  font-weight: bold;
}

.footer__title--small {
  font-size: 1.25rem;
  font-weight: bold;
}

.footer__info {
  align-self: center;
}

.footer__navigation {
  margin-top: var(--medium-gap);
}

.footer__option {
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.85px;
  padding: var(--low-gap) 0px;
  border-top: 1px solid black;
}

.footer__option.division--title {
    display: none;
}

.footer__subscribe {
  position: relative;
}

.footer__subscribe > .footer__option {
  display: block;
}

.footer__input--email {
  background-color: transparent;
  border: 2px solid black;
  padding: 0 var(--low-gap);
  height: 2.5rem;
  width: 60vw;
}

.footer__input--email::placeholder {
  color: black;
}

.footer__input--button {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  height: 2.5rem;
  width: 5rem;
  color: white;
  background-color: black;
}

.footer__copyright {
  margin-top: var(--low-gap);
  display: block;
  text-align: center;
}

.footer__socials {
  margin: var(--medium-gap) 0px;
  display: flex;
  justify-content: space-around;
}

.socials--instagram,
.socials--linkedin,
.socials--twitter {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
}

.socials--instagram {
  background-image: url("../resources/instagram.svg");
}

.socials--twitter {
  background-image: url("../resources/twitter.svg");
}

.socials--linkedin {
  background-image: url("../resources/linkedin.svg");
}

/** Mobile **/
@media (max-width: 630px) {
  .footer__info--verbose {
    margin: 0 auto;
  }
}

@media (max-width: 410px) {
  .footer__title {
    font-size: 1.25rem;
  }

  .footer__title--small {
    font-size: 1rem;
  }
}

/** Tablet & Desktop **/
@media (min-width: 900px) {
  .footer {
    padding: var(--medium-gap);
    display: grid;
    grid-template-columns: 300px repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 30px;
    gap: var(--medium-gap);
    grid-template-areas:
      "navigation newsletter contact"
      "navigation socials contact"
      "copyright copyright copyright";
  }

  .footer__navigation,
  .footer__contact,
  .footer__newsletter {
    margin-top: 0;
  }

  .footer__navigation {
    grid-area: navigation;
  }

  .footer__contact {
    grid-area: contact;
  }

  .footer__newsletter {
    grid-area: newsletter;
  }

  .footer__socials {
    grid-area: socials;
  }

  .home__separator.--footer {
    grid-area: copyright;
  }

  .footer__contact--sp,
  .footer__contact--rj,
  .footer__contact--bsb,
  .footer__contact--phones {
    grid-template-columns: 40% 1fr;
  }

  .footer__input--email {
      width: 60%;
  }
  
  .footer__option.division--title {
      display: block;
  }
}

@media (min-width: 900px) and (max-width: 1200px){
  .footer__contact--phones {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 1fr;
  }

}
